@font-face {
    font-family: 'Onest';
    src: url('/02-interactive/assets/Onest-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Bricolage';
    src: url('/02-interactive/assets/BricolageGrotesque.ttf') format('truetype');
    font-weight: 100 900;
}

:root {
    --font-head: "Bricolage";
    --font-body: "Onest";

    --space-around: 20px;
    --height: 72px;
}

mr-app {
    line-height: 100%;
    font-size: 16px;
    color: #181818;
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: var(--space-around);
    left: var(--space-around);
    width: calc(100% - var(--space-around) - var(--space-around));
    height: var(--height);
    background-color: #181818;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    border-radius: 16px;
    z-index: 2;
}

mr-panel {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    gap: 20px;
    padding: calc(var(--height) + var(--space-around) * 2) 30px;
}

.stack {
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    max-width: 520px;
    height: 100%;
}

.diptych {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#mrjs-logo {
    scale: 0.04;
    z-index: 10;
}

#name {
    font-family: var(--font-head);
    font-size: 40px;
    font-weight: 700;
}

#order {
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

#desc {
    font-family: var(--font-body);
    font-size: 18px;
    font-weight: 400;
}

mr-button {
    padding: 10px;
    font-size: 20px;
    color: black;
    background-color: #a07aff;
}

mr-button:hover {
    background-color: red;
}

@media only screen and (max-width: 56rem) {
    .information {
        height: fit-content;
    }

    .columns {
        grid-template-columns: 1fr;
    }
}